@tailwind base;
@tailwind components;
@tailwind utilities;

.blinking-cursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  background-color: #333;
  margin-left: 2px;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* Fallback outline on older iphones' Safari  */
focus\:outline-yellow-200 {
  outline: 2px solid #fde047; /* Tailwind yellow-200 */
  outline-offset: 2px;
  -webkit-outline: 2px solid #fde047;
  -webkit-outline-offset: 2px;
}